<% if provider == "Twitch" %>
  <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/<%= url %>/chat" height="565px" width="100%"></iframe>
<% elsif provider == "Youtube" %>
  <h3 class="text-center">Youtube 不支援聊天室</h3>
<% end %>
