<%= render "shared/navbar" %>
<br>
<br>
<br>
<div class="row">
  <div class="video col-xs-12 col-sm-8 col-md-8">
    <%= video(@channel.url, @channel.name) %>
  </div>
  <div class="char col-xs-12 col-sm-4 col-md-4">
    <%= chat(@channel.url, @channel.name) %>
  </div>
</div>
