<div class="container">
 <div class="row">
  <h1>Hi</h1>
   <% if current_user %>
    <%= link_to('登出', destroy_user_session_path, :method => :delete,:class => "btn btn-success") %>
        <%#= link_to('修改密碼', edit_registration_path(:user)) %>
   <% else %>
    <%= link_to('註冊', new_registration_path(:user),:class => "btn btn-success") %> | <%= link_to('登入', new_session_path(:user),:class => "btn btn-default") %>
    <%= link_to "Facebook 登入", user_omniauth_authorize_path(:facebook),:class => "btn btn-primary" %>
   <% end %>
 </div>
</div>