<div class="row">
  <%= render "shared/navbar" %>
</div>
<div class="row">
  <h2 id="banner" class="text-center">
    <span class="">
      <font color="gainsboro">Good Luck & Have Fun</font>
    </span>
  </h2>
</div>
<div class="row">
  <div class="paragraph" style="text-align:left;">
    <font size="5" color="gainsboro">StreamCircle&#26159;&#30001;&#19968;&#32676;&#20358;&#33258;&#36938;&#25138;&#12289;&#38651;&#31478;&#12289;&#30452;&#25773;&#29986;&#26989;&#30340;&#26379;&#21451;&#20849;&#21516;&#32068;&#25104;</font>
    <br />
    <font size="5" color="gainsboro"><span style="line-height: 36px;">
    <br />&#36817;&#24180;&#20358;&#30452;&#25773;&#39080;&#27683;&#30427;&#34892;&#65292;&#29609;&#23478;&#36879;&#36942;&#30452;&#25773;&#19981;&#20294;&#33021;&#21644;&#31881;&#32114;&#20114;&#21205;</span></font>
    <br />
    <font size="5" color="gainsboro"><span style="line-height: 36px;">&#26356;&#22823;&#24133;&#24230;&#22686;&#21152;&#20102;&#36938;&#25138;&#27138;&#36259;&#65292;&#20294;&#19968;&#30452;&#20197;&#20358;&#30452;&#25773;&#20027;&#30340;&#20729;&#20540;&#26178;&#24120;&#34987;&#20302;&#20272;</span></font>
    <br />
    <font size="5" color="gainsboro">
      <span style="line-height: 36px;"><br /></span>
      <span style="line-height: 1.5; background-color: initial;">StreamCircle&#35201;&#20570;&#30340;&#23601;&#26159;&#25226;&#30452;&#25773;&#25152;&#29986;&#29983;&#30340;&#24291;&#21578;&#20729;&#20540;&#37325;&#26032;&#36996;&#32102;&#30452;&#25773;&#20027;</span>
      <br />
    </font>
    <font size="5" color="gainsboro">&#36879;&#36942;&#23560;&#23660;&#36899;&#32080;&#65292;&#30452;&#25773;&#20027;&#33021;&#38568;&#26178;&#25484;&#25569;&#26377;&#22810;&#23569;&#31881;&#32114;&#21443;&#33287;&#20102;&#33258;&#24049;&#25512;&#24291;&#30340;&#36938;&#25138;</font><br />
    <font size="5" color="gainsboro">&#20006;&#19988;&#26681;&#25818;&#36938;&#25138;&#25552;&#20379;&#30340;&#24291;&#21578;&#38928;&#31639;&#65292;&#23526;&#38555;&#29554;&#21462;&#25033;&#26377;&#30340;&#20729;&#20540;</font>
    <br />
    <br />
    <font size="5" color="gainsboro">&#19981;&#35542;&#24744;&#26377;&#20219;&#20309;&#21839;&#38988;&#24819;&#21839;&#65292;&#25110;&#26377;&#20219;&#20309;&#24847;&#35211;&#24819;&#21578;&#35380;&#25105;&#20497;</font>
    <br />
    <font size="5" color="gainsboro">&#37117;&#35531;&#40670;&#21491;&#19978;&#26041;&#30340;&#32879;&#32097;&#25105;&#20497;&#65292;&#35731;&#25105;&#20497;&#30693;&#36947;</font>
    <br />
    <font size="5" color="gainsboro">&#20063;&#24076;&#26395;&#27599;&#19968;&#20301;&#30452;&#25773;&#20027;&#37117;&#33021;&#21644;&#25105;&#20497;&#19968;&#36215;&nbsp;<font color="#ff0000">&#30433;&#24773;&#29609;&#27138; &#21109;&#36896;&#20729;&#20540;</font></font>
  </div>
  <div class="paragraph" style="text-align:right;">
    <em style="font-size: x-large; line-height: 36px;">
      <span style="line-height: 1.5; background-color: initial;">
        <strong><font color="#0016ff">Good Luck</font>&nbsp;&amp;&nbsp;<font color="#ff0000">Have Fun</font></strong>
      </span>
    </em>
  </div>
</div>
