<div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center login">
    <h2>請使用google帳戶登入</h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="login_block text-center">
      <div class="text-center login_icon">
        <%= image_tag("account4.png", size: "80x80") %>
      </div>
      <div class="login_button">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
