@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import 'ionicons';
@import "jquery.carousel-3d.default";


.regist_word {
  font-size: 18px;
}
.spacing {
  height:20px;
}
.spacing_large {
  height:50px;
}
.form_word {
  width:auto;
}
.form_word_address {
  width: 300px;
}
.form_word_small {
  width:70px;
}
.box_height {
  height:250px;
}
.img_circle {
  border-radius: 50%;
}
.icon_radius {
  border-radius: 10px;
}
.table_header {
  font-size: 18px;
  letter-spacing: -2px;
  color:darkcyan;
}
.table_header_small {
  font-size: 16px;
  letter-spacing: -2px;
  color:darkcyan;
}
.td_over {
  overflow: auto;
  width:200px;
  height:150px;
}
.td_fix {
  width:100px;
}
.btn-suspend {
 background-color:  gray;
 color: white;
 font-weight:700;
}
.btn-restore {
 background-color:  #4966B6;
 color: white;
 font-weight:700;
}
.suspend {
  background-color: lightyellow;
}
.normal {
  background-color: white;
}
.grid {
  border: 2px solid #76933C;
  min-height:62px;
  vertical-align: middle;
  color: #76933C;
  background-color: white;
}
.grid_small {
  border: 2px solid #76933C;
  min-height: 42px;
  vertical-align: middle;
  color: #76933C;
  background-color: white;
  line-height: 38px;
}
.grid_boundary_left {
  border-left: 4px solid #76933C;
}
.grid_boundary_right {
  border-right: 4px solid #76933C;
}
.grid_boundary_bottom {
  border-bottom: 4px solid #76933C;
}
.grid_boundary_bottom_loop {
  border-top: 0px;
  border-bottom: 4px solid #76933C;
}
.text_center_for_grid {
  margin-top: 7px;
}
.text_center_for_grid>h3 {
  color: white;
}

.grid_double {
  border: #76933C 3px groove;
}

.row_width {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.decoration_bar  {
  width: 100%;
  height: 90px;
  background: #333333;
  line-height: 90px;
}
.btn-custom {
  width: 250px !important;
  text-decoration: none !important;
}
.btn-size {
  font-size: 24px;
  background-color: red;
  color: white;
}
.nav-font {
  font-size: 20px;
}
.row_contact {
  margin-top: 40px;
}
.live_image {
  margin-left: 16%;
}
.live_words {
  color: white;
}
.all_channels {
  margin-left: 52%;
  text-decoration: none !important;
  color: white;
}
.rootpath {
  margin-left: 45%;
  text-decoration: none !important;
  color: white;
}
.recuit_block {
  margin-top: 20px;
}
.recuit_block_words {
  margin-top: 20px;
}
.square2circle {
  border-radius: 100%;
}

.grid_title {
  font-size: 25px;
  color:darkcyan;
}
#circle_live {
  position: relative;
  height: 10px;
  width: 10px;
  background-color: #428bca;
  border-radius: 10px;
}

.nav.navbar-center {
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
  width: 70%;
}
.nav.navbar-center li,.nav.navbar-center li a{
  display: inline;
  float: none;
  line-height: 50px;
  vertical-align: top;
}

ul.dropdown-menu > li > a:hover, ul.dropdown-menu > li > a:focus {
  background-color: powderblue;
}
.container { margin: 0 auto; width:1200px; }
a { color: #2a92e5 ; }
a:hover { color: #2180cc; }
.row {
  background: #232323
}
.paragraph {
  // margin-left: 50px;
  margin-top: 50px;
}
body {
  height: 100%;
  font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height:1.75em;
  color:#666666;
  background: #232323;
  background-size: cover;
  background-attachment: fixed;
}
.about_title {
  margin-top: 60px;
  color: gainsboro;
  font-weight: bold;
}
#banner,h2 { color: gainsboro; font-size: 48px; padding: 0px; margin-top: 40px}
.qabtn {
  text-decoration: none !important;
}
.nav_bar {
  background: #333333;
  color: white;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: gray;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a, .channel_name, .user_name {
  color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  line-height: 50px;
}
.channel_name {
  white-space: nowrap; //忽略換行
  overflow: hidden;
  text-overflow : ellipsis;
  width: 300px;
}
.navbar-brand {
  margin-left: 2%;
}
.login_nav {
  margin-right: 2%;
  width: 160px;
}
.row_slider {
  background: black;
  padding-top: 20px;
}
.content_align {
  margin-left: 25%;
}
@media (min-width: 992px) {
  .col-md-offset-1_5 {
      margin-left: 12.5%;
  }
  .row_witdh {
    width: 1000px;
  }
}
.navbar-nav-customizd {
  font-size: 20px;
}
@media (min-width: 1000px) {
  .navbar-nav-customizd {
    margin-left: 18%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .row_width {
    width: 800px;
  }
}
@media (max-width: 885px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
 .navbar-inverse .navbar-nav > .promote_li > a {
  color: red
}
.btn-customized {
  background: #76933C;
  border: none;
  color: white;
}
.btn-default-customized {
  background: lightslategray;
  border: none;
  color: white;
}
.btn-default-customized:hover {
  background: gainsboro;
  border: none;
  color: black;
}
.edit_bar {
  background: #76933C;
  color: white;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid #76933C;
}
.row_format {
  color: #76933C;
}
.user_row {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
}
.input .btn .btn-customized:hover {
  color: white;
}
.row_input {
  background: white;
}
.btn_row {
  margin: 10px 0px;
  background-color: white;
}
.url_text {
  font-size: 12px;
  line-height:60px;
}
.grid_text {
  line-height:60px;
}
.form-control-date {
  width: 100px;
  border-radius: 5px;
  height: 30px;
  margin-top: 4px;
  line-height: 30px;
}
.overflow_name {
  white-space: nowrap; //忽略換行
  overflow: hidden;
  text-overflow : ellipsis;
  width: 170px;
  height: 60px;
}
.login_block {
  border: 1px gray solid;
  height: 200px;
  width: 300px;
  background-color: #F7F7F7;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px
}
.login_icon {
  margin-top: 30px;
}
.login_button {
  margin-top: 20px;
}
.btn-google_oauth2 {
 background-color: #4F90EC;
 color: white;
 width: 150px;
 font-weight:700;
}
.downArrow {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid lightgray;
  display: inline-block;
  margin-left: 3px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #333333;
}
.form-line {
  display: inline-block;
}
@media (max-width: 991px) {
  .form-media {
    margin-bottom: 30px;
  }
}
.td_vertical_middle {
  line-height: 70px;
  min-height: 70px;
}
.promote_tag_cpc {
  height: 30px;
  line-height: 30px;
  width: 140px;
  border: 1px solid #78B05C;
  border-radius: 5px;
  background-color: #78B05C;
  color: white;
  font-size: 14px;
}
.promote_tag_cpi {
  height: 30px;
  line-height: 30px;
  width: 140px;
  border: 1px solid #417DB4;
  border-radius: 5px;
  background-color: #417DB4;
  color: white;
  font-size: 14px;
}
.promote_tag_cpa {
  height: 30px;
  line-height: 30px;
  width: 140px;
  border: 1px solid #E7AD5A;
  border-radius: 5px;
  background-color: #E7AD5A;
  color: white;
  font-size: 14px;
}
#error {
  font-size: 25px;
  color:crimson;
}
.hightlight {
  color: red;
}
