@import "bootstrap-sprockets";
@import "bootstrap";

.regist_word {
  font-size: 18px;
}
.spacing {
  height:20px;
}
.spacing_large {
  height:50px;
}
.form_word {
  width:auto;
}
.box_height {
  height:250px;
}
.img_circle {
  border-radius: 50%;
}
.table_header {
  font-size: 20px;
  color:darkcyan;
}
.td_over {
  overflow: auto;
  width:200px;
  height:150px;
}
.td_fix {
  width:100px;
}
.btn-google_oauth2 {
 background-color: #F32D05;
 color: white;
 font-weight:700;
}
.btn-suspend {
 background-color:  gray;
 color: white;
 font-weight:700;
}
.btn-restore {
 background-color:  #4966B6;
 color: white;
 font-weight:700;
}
.suspend {
  background-color: lightyellow;
}
.normal {
  background-color: white;
}
