<div class="container">
  <div class="row">
    <h1>編輯使用者</h1>

    <%= render 'form' %>
    <div class="spacing"></div>
    <%= link_to '使用者詳細', @admin_user, :class => "btn btn-primary" %>
    <%= link_to '回到使用者管理', admin_users_path, :class => "btn btn-default" %>
  </div>
</div>