<div class="container">
  <div class="row">
    <h1>新建使用者</h1>

    <%= render 'form' %>
     <div class="spacing"></div>
    <%= link_to '回到使用者管理', admin_users_path,:class => "btn btn-primary" %>
  </div>
</div>