<div class="container">
  <div class="row">
    <h1>遊戲上架編輯</h1>
    <%= render 'form' %>
     <div class="spacing"></div>
    <%= link_to '遊戲內容詳細', @admin_menu,:class => "btn btn-primary" %>
    <%= link_to '回到上架頁面', admin_menus_path,:class => "btn btn-default" %>
  </div>
</div>
