<div class="container">
  <div class="row">
    <h1>新遊戲</h1>

    <%= render 'form' %>
    <div class="spacing"></div>
    <%= link_to '回到上架頁面', admin_menus_path,:class => "btn btn-default" %>
  </div>
</div>
